<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimeProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Home.css" rel="stylesheet" />
</head>
<body>
<div class="Header">
    <div class="SAM">
        S.A.M.
    </div>
    <div class="Slide">
        <button class="Slide_Button">Anime</button>
    </div>
    <form class="Form_Search">
        <input type="search" name="text" class="Search">
    </form>
    <div class="Login">
        <a asp-controller="RegLog" asp-action="Login" class="Login_Button" target="_blank">Log In</a>
    </div>
</div>


<div class="Home">
        @RenderBody()
        <footer>
            <div class="Copyright">
                © S.A.M. 2021
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
