@{ 
    Layout = "../Shared/_RegLogLayout.cshtml";
}

<div>
    <div class="Registration">
        REGISTRATION
        </div>>
</div>

<form action="/" method="post" class="Log_Pas_Field">
    <label for="Email_Field" class="Email_Label">Email</label>
    <input type="email" name="email" value="" class="Email_Field" />

    <label for="Password_Field" class="Password_Label">Password</label>
    <input type="password"  name="password" value="" class="Password_Field" pattern="^(?=.*[a-z])(?=.*[0-9]).{8,16}$"/>

    <label for="Confirm_Password_Field" class="Confirm_Password_Label">Confirm password</label>
    <input type="password" name="password" value="" class="Confirm_Password_Field" />

    <div class="Submit_Button">
        <button>Submit</button>
    </div>
    <div class="Forgot_Password">
        <a asp-controller="RegLog" asp-action="Login" class="Forgot_Password" target="_blank">Already have an account!</a>
    </div>
</form>