@model AnimeProject.Models.User
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="Sort_Box">
    <div class="Sort_By">
        <div class="Sort">
            SORT
        </div>
        <div class="By">
            BY
        </div>
    </div>
</div>

<div class="Main_Content">
    @for (int i = 0; i < 20; i++)
    {
        <div class="Content_Frame">
            <div class="Frame">

            </div>
            <div class="Titel">
                Titel
            </div>
        </div>
    }
</div>