<div class="Drop_Down">
    <div class="Upper_Value">
        Anime
    </div>
    <input type="text"  class="Check_Box" />
    <div class="List">
        <div>Anime</div>
        <div>Manga</div>
        <div>Ranobe</div>
        

    </div>
</div>

