@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="Header">
    <div class="SAM">
        S.A.M.
    </div>
    <div class="Slide">
        <button class="Slide_Button">Anime</button>
    </div>
    <form target="_blank" class="Form_Search">
        <input type="search" name="text" class="Search">
    </form>
    <div class="Login">
        <button asp-controller="RegLog" asp-action="Login" class="Login_Button">Log In</button>
    </div>
</div>