@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

.Home {
    display: flex;
    background: #D9D7CA;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Header {
    display: flex;
    position: relative;
    background: #1F464D;
    height: 84px;
    width: 100%;
    align-self: flex-start;
    justify-content: center;
}

.SAM {
    display: flex;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    width: 183px;
    height: 64px;
    color: white;
    margin: 5px 0 26px 20px;
    align-items: center;
    justify-content: center;
}

.Slide {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 100px;
}

.Slide_Button {
    display: flex;
    position: relative;
    background: #3D8D94;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: white;
    width: 116px;
    height: 34px;
    box-shadow: 7px 7px 7px #17353A;
    justify-content: center;
    align-items: center;
}

.Form_Search {
    display: flex;
    position: relative;
    width: 900px;
    border: none;
    justify-content: center;
    align-items: center;
}

.Search {
    position: relative;
    background: #D9D7CA;
    width: 900px;
    height: 32px;
    border: none;
    margin: 0 20px 0 20px;
}

.Login {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
}

.Login_Button {
    display: flex;
    position: relative;
    background: #3D8D94;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: white;
    width: 116px;
    height: 34px;
    box-shadow: 7px 7px 7px #17353A;
    justify-content: center;
    align-items: center;
}
