@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

Body {
    background: #D9D7CA;
}

.Home {
    display: flex;
    background: #D9D7CA;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

footer {
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #3B3535;
    margin-top: auto;
}

.Copyright {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: white;
}

.Header {
    display: flex;
    position: relative;
    background: #1F464D;
    height: 84px;
    justify-content: center;
    flex-grow: 1;
}

.SAM {
    display: flex;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    width: 183px;
    height: 64px;
    color: white;
    margin: 5px 0 26px 20px;
    align-items: center;
    justify-content: center;
}

.Slide {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 100px;
}

.Slide_Button {
    display: flex;
    position: relative;
    background: #3D8D94;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: white;
    width: 116px;
    height: 34px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
}

.Form_Search {
    display: flex;
    position: relative;
    width: 900px;
    border: none;
    justify-content: center;
    align-items: center;
}

.Search {
    position: relative;
    background: #D9D7CA;
    width: 900px;
    height: 32px;
    border: none;
    margin: 0 20px 0 20px;
    padding-left: 10px;
    font-family: 'Ubuntu', sans-serif;
}

    .Search:focus {
        outline: none;
    }

.Login {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
}

.Login_Button {
    display: flex;
    position: relative;
    background: #3D8D94;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: white;
    width: 116px;
    height: 34px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

    .Login_Button:hover {
        outline: none;
        text-decoration: none;
        color: white;
    }

.Sort_Box {
    display: flex;
    position: fixed;
    width: 183px;
    height: 269px;
    background: #1F464D;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin: 292px 36px 368px 75px;
}

.Sort_By {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    margin: 17px auto 17px 25px;
}

.Sort, .By {
    display: flex;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: white;
    height: 30px;
    width: 100px;
    align-items: center;
}

.Main_Content {
    display: flex;
    position: relative;
    width: 1250px;
    min-height: 350px;
    max-height: auto;
    margin: 50px auto auto auto;
    flex-wrap: wrap;
}

.Content_Frame {
    display: flex;
    position: relative;
    height: 330px;
    width: 180px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 30px 20px 35px;
}

.Frame {
    position: relative;
    height: 260px;
    width: 180px;
    background-color: gray;
}

.Titel {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    height: 50px;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.Background {
    position: relative;
    width: 1336px;
    height: 314px;
    background-color: gray;
}
