@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
    display: flex;
    background: #D9D7CA;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Data_Field {
    display: flex;
    position: relative;
    width: 580px;
    height: 694px;
    background: #1F464D;
    align-items: center;
    flex-direction: column;
    box-shadow: 7px 7px 7px #A3A197;
}

.Login, .Registration {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 64px;
    color: white;
    margin: 69px auto;
    text-align: center;
}

.Registration {
    margin: 69px 0 0 !important;
}

.Log_Pas_Field {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 397px;
    border: none;

}

.Email_Field, .Password_Field, .Confirm_Password_Field{
    position: relative;
    margin: 5px 0 0;
    background: #D9D7CA;
    border: none;
    height: 47px;
    padding-left: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    box-shadow: 7px 7px 7px #17353A;
}
    .Email_Field:focus, .Password_Field:focus, .Confirm_Password_Field:focus {
        outline: none;
    }


.Email_Label, .Password_Label, .Confirm_Password_Label {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: white;
    margin: 16px 0 0 9px;
}

.Submit_Button {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 45px;
    margin-bottom:13px;

}
}
    .Submit_Button:hover{
        border-radius: 40px;
    }

button {
    position: relative;
    background: #3D8D94;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: white;
    width: 147px;
    height: 49px;
    box-shadow: 7px 7px 7px #17353A;
}

.Forgot_Password {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-align:center;
}
    .Forgot_Password:hover{
        text-decoration:none;
        color: darkgray;
    }
    